<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.task.master.core.mapper.task.TaskMobileCardMapper">




    <!-- 定义数据库基本列,只适用代替单表的-手机短信-->
    <sql id="Base_Column_List_MobileCardData">
        a.id,a.mobile_card_id,a.phone_num,a.sms_num,a.sms_content,a.data_type,
        a.curday,a.curhour,a.curminute,
        a.run_num,a.run_status,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause_MobileCardData">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="curday != null and curday != '' " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != null and curdayStart != '' and curdayEnd != null and curdayEnd != '' " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            <if test="runNum != null and runNum != '' " >
                and a.run_num &lt; #{runNum}
            </if>
            <if test="runStatus != null and runStatus != '' " >
                and a.run_status &lt; #{runStatus}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>



    <!-- 查询未跑的手机短信信息 -->
    <select id="getMobileCardDataList" parameterType="Object" resultType="com.hz.task.master.core.model.mobilecard.MobileCardDataModel">
        select
        <include refid="Base_Column_List_MobileCardData" />
        from tb_fn_mobile_card_data a
        <include refid="Example_Where_Clause_MobileCardData"/>
        limit #{limitNum}
    </select>

    <!-- 更新手机短信信息数据的状态成功、失败的结果 -->
    <update id="updateMobileCardDataStatus" parameterType="Object">
        UPDATE tb_fn_mobile_card_data a
        <trim prefix="set" suffixOverrides=",">
            <if test="runNum != null and runNum != '' " >
                a.run_num = a.run_num + #{runNum},
            </if>
            <if test="runStatus != null and runStatus != '' " >
                a.run_status = #{runStatus},
            </if>
            <if test="dataType != null and dataType != '' " >
                a.data_type = #{dataType},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
    </update>


</mapper>