<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.task.master.core.mapper.DidTeamGradeMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.did,a.one_grade,a.two_grade,a.three_grade,a.four_grade,
        a.create_time,a.update_time,a.yn
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="did != null and did != '' " >
                and a.did = #{did}
            </if>
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.task.master.core.model.did.DidTeamGradeModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_team_grade a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.task.master.core.model.did.DidTeamGradeModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_team_grade a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.task.master.core.model.did.DidTeamGradeModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_team_grade a
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.task.master.core.model.did.DidTeamGradeModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_team_grade a
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_did_team_grade a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.task.master.core.model.did.DidTeamGradeModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_did_team_grade a
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.task.master.core.model.did.DidTeamGradeModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fn_did_team_grade
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null and did != '' " >
                did,
            </if>
            <if test="oneGrade != null and oneGrade != '' " >
                one_grade,
            </if>
            <if test="twoGrade != null and twoGrade != '' " >
                two_grade,
            </if>
            <if test="threeGrade != null and threeGrade != '' " >
                three_grade,
            </if>
            <if test="fourGrade != null and fourGrade != '' " >
                four_grade,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null and did != '' " >
                <![CDATA[  #{did}, ]]>
            </if>
            <if test="oneGrade != null and oneGrade != '' " >
                <![CDATA[  #{oneGrade}, ]]>
            </if>
            <if test="twoGrade != null and twoGrade != '' " >
                <![CDATA[  #{twoGrade}, ]]>
            </if>
            <if test="threeGrade != null and threeGrade != '' " >
                <![CDATA[  #{threeGrade}, ]]>
            </if>
            <if test="fourGrade != null and fourGrade != '' " >
                <![CDATA[  #{fourGrade}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.task.master.core.model.did.DidTeamGradeModel">
        UPDATE tb_fn_did_team_grade a
        <trim prefix="set" suffixOverrides=",">
            <if test="oneGrade != null and oneGrade != '' " >
                a.one_grade = #{oneGrade},
            </if>
            <if test="twoGrade != null and twoGrade != '' " >
                a.two_grade = #{twoGrade},
            </if>
            <if test="threeGrade != null and threeGrade != '' " >
                a.three_grade = #{threeGrade},
            </if>
            <if test="fourGrade != null and fourGrade != '' " >
                a.four_grade = #{fourGrade},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        <if test="did != null and did != '' " >
            and a.did = #{did}
        </if>
        and a.yn = 0
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_did_team_grade a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>





</mapper>