<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.task.master.core.mapper.OrderMapper">




    <!-- 定义数据库基本列,只适用代替单表的*-->
    <sql id="Base_Column_List">
        a.id,a.did,a.order_no,a.order_money,a.collection_account_id,a.collection_type,a.qr_code_id,
        a.qr_code,a.wx_nickname,a.wx_id,a.out_trade_no,a.notify_url,a.order_status,a.invalid_time,
        a.user_id,a.zfb_ac_num,a.program_time,a.did_status,a.profit,a.is_red_pack,a.red_pack_time,
        a.is_reply,a.reply_data,a.reply_time,a.actual_money,a.money_fit_type,a.replenish_type,
        a.curday,a.curhour,a.curminute,a.run_num,a.run_status,
        a.create_time,a.update_time,a.yn,
        b.ac_name,b.ac_num
    </sql>

    <!-- 查询条件 -->
    <sql id="Example_Where_Clause">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="did != null and did != '' " >
                and a.did = #{did}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                and a.order_money = #{orderMoney}
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                and a.collection_account_id = #{collectionAccountId}
            </if>
            <if test="collectionType != null and collectionType != '' " >
                and a.collection_type = #{collectionType}
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                and a.wx_nickname = #{wxNickname}
            </if>
            <if test="wxId != null and wxId != '' " >
                and a.wx_id = #{wxId}
            </if>
            <if test="userId != null and userId != '' " >
                and a.user_id = #{userId}
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                and a.order_status = #{orderStatus}
            </if>
            <if test="replenishType != null and replenishType != '' " >
                and a.replenish_type = #{replenishType}
            </if>
            <if test="curday != null and curday != '' " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != null and curdayStart != '' and curdayEnd != null and curdayEnd != '' " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            and a.run_status = 3
            and a.yn = 0
        </trim>
    </sql>


    <!-- 查询条件-two -->
    <sql id="Example_Where_Clause_Two">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            <if test="did != null and did != '' " >
                and a.did = #{did}
            </if>
            <if test="orderNo != null and orderNo != '' " >
                and a.order_no = #{orderNo}
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                and a.order_money = #{orderMoney}
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                and a.collection_account_id = #{collectionAccountId}
            </if>
            <if test="collectionType != null and collectionType != '' " >
                and a.collection_type = #{collectionType}
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                and a.wx_nickname = #{wxNickname}
            </if>
            <if test="wxId != null and wxId != '' " >
                and a.wx_id = #{wxId}
            </if>
            <if test="userId != null and userId != '' " >
                and a.user_id = #{userId}
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                and a.order_status = #{orderStatus}
            </if>
            <if test="orderStatusStr != null and orderStatusStr != '' " >
                and a.order_status >= 3
            </if>
            <if test="isRedPack != null and isRedPack != '' " >
                and a.is_red_pack = #{isRedPack}
            </if>

            <if test="isReply != null and isReply != '' " >
                and a.is_reply = #{isReply}
            </if>
            <if test="replenishType != null and replenishType != '' " >
                and a.replenish_type = #{replenishType}
            </if>
            <if test="curday != null and curday != '' " >
                and a.curday = #{curday}
            </if>
            <if test="curdayStart != null and curdayStart != '' and curdayEnd != null and curdayEnd != '' " >
                and a.curday >= #{curdayStart} and a.curday &lt;= #{curdayEnd}
            </if>
            and a.yn = 0
        </trim>
    </sql>

    <!-- 查询条件_id -->
    <sql id="Example_Where_Clause_id">
        where 1=1
        <trim  suffixOverrides="," >
            <if test="id != null and id != '' " >
                and a.id = #{id}
            </if>
            and a.yn =  0
        </trim>
    </sql>

    <!-- 排序条件 -->
    <sql id="Example_Order_By">
        order by a.create_time desc
    </sql>


    <!-- 显示所有数据 -->
    <select id="findAll" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询列表 -->
    <select id="findByCondition" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 根据条件查询信息-->
    <select id="findByObject" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause"/>
        limit 1
    </select>

    <!-- 根据id查询信息-->
    <select id="findById" parameterType="java.lang.Long" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause_id"/>
    </select>


    <!-- 查询总数-->
    <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
        select count(1)
        from tb_fn_order a
        <include refid="Example_Where_Clause"/>
    </select>

    <!-- 查询分页列表 -->
    <select id="queryByList" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause"/>
        <include refid="Example_Order_By"/>
        <if test="pageNumber != null and pageNumber != ''" >
            limit #{start},#{end}
        </if>
    </select>


    <!-- 添加基本信息 -->
    <insert id="add" parameterType="com.hz.task.master.core.model.order.OrderModel" >
        <!--<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">-->
        <!--SELECT LAST_INSERT_ID() as id-->
        <!--</selectKey>-->
        insert into tb_fn_order
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null and did != '' " >
                did,
            </if>
            <if test="orderNo != null and orderNo != '' " >
                order_no,
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                order_money,
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                collection_account_id,
            </if>
            <if test="collectionType != null and collectionType != '' " >
                collection_type,
            </if>
            <if test="qrCode != null and qrCode != '' " >
                qr_code,
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                wx_nickname,
            </if>
            <if test="wxId != null and wxId != '' " >
                wx_id,
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                out_trade_no,
            </if>
            <if test="notifyUrl != null and notifyUrl != '' " >
                notify_url,
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                order_status,
            </if>
            <if test="invalidTime != null and invalidTime != '' " >
                invalid_time,
            </if>
            <if test="replenishType != null and replenishType != '' " >
                replenish_type,
            </if>
            <if test="remark != null and remark != '' " >
                remark,
            </if>
            <if test="curday != null and curday != '' " >
                curday,
            </if>
            <if test="curhour != null and curhour != '' " >
                curhour,
            </if>
            <if test="curminute != null and curminute != '' " >
                curminute,
            </if>
            create_time,
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="did != null and did != '' " >
                <![CDATA[  #{did}, ]]>
            </if>
            <if test="orderNo != null and orderNo != '' " >
                <![CDATA[  #{orderNo}, ]]>
            </if>
            <if test="orderMoney != null and orderMoney != '' " >
                <![CDATA[  #{orderMoney}, ]]>
            </if>
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                <![CDATA[  #{collectionAccountId}, ]]>
            </if>
            <if test="collectionType != null and collectionType != '' " >
                <![CDATA[  #{collectionType}, ]]>
            </if>
            <if test="qrCode != null and qrCode != '' " >
                <![CDATA[  #{qrCode}, ]]>
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                <![CDATA[  #{wxNickname}, ]]>
            </if>
            <if test="wxId != null and wxId != '' " >
                <![CDATA[  #{wxId}, ]]>
            </if>
            <if test="outTradeNo != null and outTradeNo != '' " >
                <![CDATA[  #{outTradeNo}, ]]>
            </if>
            <if test="notifyUrl != null and notifyUrl != '' " >
                <![CDATA[  #{notifyUrl}, ]]>
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                <![CDATA[  #{orderStatus}, ]]>
            </if>
            <if test="invalidTime != null and invalidTime != '' " >
                <![CDATA[  #{invalidTime}, ]]>
            </if>
            <if test="replenishType != null and replenishType != '' " >
                <![CDATA[  #{replenishType}, ]]>
            </if>
            <if test="remark != null and remark != '' " >
                <![CDATA[  #{remark}, ]]>
            </if>
            <if test="curday != null and curday != '' " >
                <![CDATA[  #{curday}, ]]>
            </if>
            <if test="curhour != null and curhour != '' " >
                <![CDATA[  #{curhour}, ]]>
            </if>
            <if test="curminute != null and curminute != '' " >
                <![CDATA[  #{curminute}, ]]>
            </if>
            NOW(),
        </trim>
    </insert>

    <!-- 更新基本信息 -->
    <update id="update" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <!--<if test="did != null and did != '' " >-->
                <!--a.did = #{did},-->
            <!--</if>-->
            <!--<if test="orderNo != null and orderNo != '' " >-->
                <!--a.order_no = #{orderNo},-->
            <!--</if>-->
            <!--<if test="orderMoney != null and orderMoney != '' " >-->
                <!--a.order_money = #{orderMoney},-->
            <!--</if>-->
            <if test="collectionAccountId != null and collectionAccountId != '' " >
                a.collection_account_id = #{collectionAccountId},
            </if>
            <if test="collectionType != null and collectionType != '' " >
                a.collection_type = #{collectionType},
            </if>
            <if test="qrCode != null and qrCode != '' " >
                a.qr_code = #{qrCode},
            </if>
            <if test="wxNickname != null and wxNickname != '' " >
                a.wx_nickname = #{wxNickname},
            </if>
            <if test="wxId != null and wxId != '' " >
                a.wx_id = #{wxId},
            </if>
            <if test="notifyUrl != null and notifyUrl != '' " >
                a.notify_url = #{notifyUrl},
            </if>
            <if test="orderStatus != null and orderStatus != '' " >
                a.order_status = #{orderStatus},
            </if>
            <if test="invalidTime != null and invalidTime != '' " >
                a.invalid_time = #{invalidTime},
            </if>
            a.update_time = NOW(),
        </trim>
        <include refid="Example_Where_Clause"/>
    </update>

    <!-- 主要作用1.逻辑删除，2更新状态 -->
    <update id="manyOperation" parameterType="Object">
        update tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="yn != 0 and yn >0 " >
                a.yn = #{yn},
            </if>
        </trim>
        <include refid="Example_Where_Clause_id"/>
    </update>


    <!-- 派发订单成功的金额-->
    <select id="getProfitByCurday" parameterType="Object" resultType="java.lang.String">
        select ifnull(sum(convert(a.order_money,decimal(19,2))), '0.00') as profit from tb_fn_order a
        <include refid="Example_Where_Clause"/>
    </select>



    <!-- 获取初始化的订单数据（未超时） -->
    <select id="getInitOrderList" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        where 1=1
        and a.wx_id = #{wxId}
        <if test="wxNickname != null and wxNickname != '' " >
            and a.wx_nickname = #{wxNickname}
        </if>
        and a.collection_type = #{collectionType}
        and a.order_status = #{orderStatus}
        and a.invalid_time > now()
    </select>


    <!-- 获取初始化的订单数据（未超时）- 支付宝 -->
    <select id="getInitOrderByZfbList" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        where 1=1
        and a.user_id = #{userId}
        and a.did = #{did}
        and a.collection_type = #{collectionType}
        and a.order_status = #{orderStatus}
        and a.invalid_time > now()
    </select>


    <!-- 更新派单的订单状态 -->
    <update id="updateOrderStatus" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="orderStatus != null and orderStatus != '' " >
                a.order_status = #{orderStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        <if test="orderNo != null and orderNo != '' " >
            and a.order_no = #{orderNo}
        </if>
    </update>



    <!-- 已经失效超时的订单更新成失效状态 -->
    <update id="updateOrderStatusByInvalidTime" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="orderStatus != null and orderStatus != '' " >
                a.order_status = #{orderStatus},
            </if>
            <if test="runStatus != null and runStatus != '' " >
                a.run_status = #{runStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.order_status = 1
        and a.did_status = 2
        and a.invalid_time &lt;= now()
        and a.yn = 0
    </update>



    <!-- 根据创建时间获取派单集合数据 -->
    <select id="getOrderByCreateTime" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        where 1=1
        and a.collection_account_id = #{collectionAccountId}
        and a.order_status &lt;= #{orderStatus}
        and a.create_time >= #{startTime} and a.create_time &lt;= #{endTime}
        and a.yn = 0
    </select>


    <!-- 根据主键集合修改订单状态 -->
    <update id="updateOrderStatusByIdList" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            a.order_status = #{orderStatus},
            a.remark = #{remark},
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id in
        <foreach item="item" index="index" collection="idList" open="(" separator="," close=")">
            #{item}
        </foreach>
        and a.yn = 0
    </update>


    <!-- 获取直推用户昨天派单消耗成功的总金额-->
    <select id="directSumMoney" parameterType="com.hz.task.master.core.model.order.OrderModel" resultType="java.lang.String">
        select ifnull(sum(convert(a.order_money,decimal(19,2))), '0.00') as money from tb_fn_order a
        where 1=1
        and a.order_status = #{orderStatus}
        and a.curday = #{curday}
        <if test="didList != null and didList.size()>0">
            and a.did in
            <foreach item="item" index="index" collection="didList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        and a.collection_type = 2
        and a.yn = 0
    </select>


    <!-- 获取直推用户所有派单消耗成功的总金额-->
    <select id="directAllSumMoney" parameterType="com.hz.task.master.core.model.order.OrderModel" resultType="java.lang.String">
        select ifnull(sum(convert(a.order_money,decimal(19,2))), '0.00') as money from tb_fn_order a
        where 1=1
        and a.order_status = #{orderStatus}
        <if test="didList != null and didList.size()>0">
            and a.did in
            <foreach item="item" index="index" collection="didList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        and a.collection_type = 2
        and a.yn = 0
    </select>

    <!-- 根据用户ID加收款账号ID获取最新的一条订单数据-->
    <select id="getNewestOrder" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause_Two"/>
        <include refid="Example_Order_By"/>
        limit 1
    </select>



    <!-- 更新用户操作状态 -->
    <update id="updateDidStatus" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="didStatus != null and didStatus != '' " >
                a.did_status = #{didStatus},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{remark},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>

    <!-- 根据用户ID查询目前时间到前30分钟的订单数据-->
    <select id="getOrderByDidAndTime" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
            a.id,a.did,a.order_no,a.order_money,a.collection_account_id,a.collection_type,a.qr_code_id,
            a.qr_code,a.wx_nickname,a.wx_id,a.out_trade_no,a.notify_url,a.order_status,a.invalid_time,
            a.user_id,a.zfb_ac_num,
            a.program_time,a.did_status,a.profit,a.is_red_pack,a.red_pack_time,
            a.is_reply,a.reply_data,a.reply_time,a.actual_money,a.money_fit_type,a.replenish_type,
            a.curday,a.curhour,a.curminute,a.run_num,a.run_status,
            a.create_time,a.update_time,a.yn
        from tb_fn_order a
        where 1=1
        and a.did = #{did}
        and a.collection_account_id = #{collectionAccountId}
        and a.create_time >= #{createTime} and a.create_time &lt;= now()
        and a.yn = 0
        order by a.create_time desc
        limit 1
    </select>


    <!-- 根据订单号更新订单的状态 -->
    <update id="updateOrderStatusByOrderNo" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="orderStatus != null and orderStatus != '' " >
                a.order_status = #{orderStatus},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.order_no = #{orderNo}
        and a.yn = 0
    </update>


    <!-- 更新用户发送红包以及回复的相关信息 -->
    <update id="updateRedPackAndReply" parameterType="com.hz.task.master.core.model.order.OrderModel">
        UPDATE tb_fn_order a
        <trim prefix="set" suffixOverrides=",">
            <if test="isRedPack != null and isRedPack != '' " >
                a.is_red_pack = #{isRedPack},
            </if>
            <if test="redPackTime != null and redPackTime != '' " >
                a.red_pack_time = #{redPackTime},
            </if>
            <if test="isReply != null and isReply != '' " >
                a.is_reply = #{isReply},
            </if>
            <if test="replyData != null and replyData != '' " >
                a.reply_data = #{replyData},
            </if>
            <if test="replyTime != null and replyTime != '' " >
                a.reply_time = #{replyTime},
            </if>
            <if test="actualMoney != null and actualMoney != '' " >
                a.actual_money = #{actualMoney},
            </if>
            <if test="moneyFitType != null and moneyFitType != '' " >
                a.money_fit_type = #{moneyFitType},
            </if>
            <if test="profit != null and profit != '' " >
                a.profit = #{profit},
            </if>
            <if test="remark != null and remark != '' " >
                a.remark = #{remark},
            </if>
            a.update_time = NOW(),
        </trim>
        where 1=1
        and a.id = #{id}
        and a.yn = 0
    </update>


    <!-- 根据条件查询订单信息-->
    <select id="getOrderByNotIsReply" parameterType="Object" resultType="com.hz.task.master.core.model.order.OrderModel">
        select
        <include refid="Base_Column_List" />
        from tb_fn_order a left join tb_fn_did_collection_account b on a.collection_account_id = b.id
        <include refid="Example_Where_Clause_Two"/>
        order by a.id desc
        limit 1
    </select>

</mapper>